body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;

  background-color: #FFFFFF;
  /*background-image: url("../img/index.jpg");*/
  background-position: top center;
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
}

.main-navigation {
  font-size: 14px;
  font-weight: 700;
  line-height: 26px;
  color: #000000;
}

.site-navigation {
  list-style: none;
}

.site-navigation a {
  color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: #81B3D2;
}

.site-navigation a:active {
  color: #000000;
  opacity: 0.3;
}

.site-navigation-current {
  color: #766357;
}

.welcome {
  background-image: url("../img/intro.jpg");
  background-repeat: no-repeat;

  text-align: center;
}

.about {
  text-align: center;
}

.about h3 {
  font-size: 21px;
  line-height: 26px;
}

.about p {
  line-height: 26px;
  color: #333333;
}

.features-list {
  list-style: none;
}

.features-list li {
  background-color: #81B3D2;
}

.features-list li:nth-of-type(n+3) {
  background-color: #EEEEEE;
}

.features-list h3 {
  font-size: 21px;
  line-height: 21px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.features-list p {
  font-size: 14px;
  line-height: 21px;
  color: #FFFFFF;
}

.features-list li:nth-of-type(n+3) h3 {
  color: #000000;
}

.features-list li:nth-of-type(n+3) p {
  color: #000000;
}

.city-features-list {
  background-color: #FFFFFF;
}

.city-features-list li {
  background-color: #FFFFFF;
  list-style: none;
}

.city-features-list li:nth-of-type(n+3) {
  background-color: #FFFFFF;
}

.city-features-list h3 {
  font-size: 21px;
  line-height: 21px;
  text-transform: uppercase;
  color: #333333;
}

.city-features-list p {
  font-size: 14px;
  line-height: 21px;
  color: #333333;
}

.search h2 {
  font-size: 30px;
}

.search a {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #FFFFFF;

  background-color: #766357;
}

.search label {
  font-weight: 700;
}

.search input {
  font: inherit;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;

  border: none;
  background-color: #F2F2F2;
  border: solid 2px #F2F2F2;
}

.search input::placeholder {
  color: #000000;
}

.search input:hover {
  background-color: #EBEBEB;
  border: solid 2px #EBEBEB;
}

.search input:focus {
  background-color: #FFFFFF;
  border: solid 2px #E5E5E5;
}

.search button {
  font: inherit;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  font-weight: 700;
  color: #FFFFFF;

  background-color: #81B3D2;
  border: none;
}

.search button:hover {
  background-color: #669EC0;
}

.search button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496BD;
}

.main-footer h4 {
  font-size: 21px;
  line-height: 26px;
}

.footer-social ul {
  list-style: none;
}

.social-button {
  color: #000000;
}

.catalog-list {
  list-style: none;
}

.catalog-item h3 a {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}

.catalog-item a {
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  text-transform: uppercase;
  color: #FFFFFF;
}

.catalog-item .more {
  background-color: #81B3D2;
}

.catalog-item .more:hover {
  background-color: #669EC0;
}

.catalog-item .more:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496BD;
}

.catalog-item .book {
  background-color: #766357;
}

.catalog-item .book:hover {
  background-color: #604E43;
}

.catalog-item .book:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503E33;
}

.rating {
  background-color: #F2F2F2;
  color: #666666;
}

.filters {
  /*background-image: url("../img/filter-background.jpg");
  background-repeat: no-repeat;*/
}

.filters fieldset {
  border: none;
}

.filters legend {
  font: inherit;
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  color: #FFFFFF;
}

.filters ul {
  list-style: none;
  line-height: 21px;
  color: #FFFFFF;
}

.filters input[type="text"] {
  font: inherit;
  color: white;
  text-transform: uppercase;
  text-align: center;

  background: none;
  border: solid 2px #FFFFFF;
}

.filters button {
  font: inherit;
  color: #FFFFFF;
  text-transform: uppercase;
  text-align: center;

  background: none;
  border: solid 2px #FFFFFF;
}

.filters button:hover {
  font: inherit;
  color: #000000;
  text-transform: uppercase;
  text-align: center;

  background-color: #FFFFFF;
  border: solid 2px #FFFFFF;
}

.sort h3 {
  font-size: 21px;
  line-height: 26px;
}

.sort ul {
  list-style: none;
  font-size: 12px;
  line-height: 18px;
}

.sort a {
  color: rgba(0, 0, 0, 0.3);
  border-bottom: dotted 1px #81B3D2;
}

.sort a:hover {
  color: #81B3D2;
}

.sort a:active {
  color: #000000;
  border: none;
}

.sort span {
  color: #81B3D2;
}

/* ----- Сеточные стили ----- */

html,
body {
  min-width: 1200px;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.main-header {

  /* Временно для сетки */
  min-height: 56px;
}

.main-navigation {
  display: flex;
  flex-direction: column;
  align-items: center;

  /* Временно для сетки */
  min-height: 56px;
}

.main-header-logo {
  order: 2;
  width: 138px;
  position: absolute;

  /* Временно для сетки */
  min-height: 71px;
}

.site-navigation {
  width: 1200px;
  margin: 0;
  padding: 0;

  list-style: none;

  /* Временно для сетки */
  min-height: 56px;
}

.welcome {

  /* Временно для сетки */
  min-height: 510px;
}

.about {

  /* Временно для сетки */
  min-height: 215px;
}

.features-list-wrapper {
  margin: 0;
  padding: 0;

  /* Временно для сетки */
  min-height: 1100px;
}

.search {
  margin: 0;
  padding: 0;

  /* Временно для сетки */
  min-height: 290px;
}

.map {
  background-image: url("../img/map.jpg");
  background-repeat: no-repeat;

  /* Временно для сетки */
  min-height: 475px;
}

.main-footer {
}

.main-footer .container {
  display: flex;
  justify-content: space-around;
}

.footer-item {
  width: 200px;

  /* Временно для сетки */
  min-height: 120px;
}

 .inner-page {
  /* Временно для сетки */
  /*background-image: url('../img/hotels.jpg');*/
  background-size: 1280px;
  background-position: top center;
  background-repeat: no-repeat;
}

.filters {
  /* Временно для сетки */
  min-height: 215px;
}

.sort {
  /* Временно для сетки */
  min-height: 85px;
}

.catalog ul {
  margin: 0;
  padding: 0;
}

.catalog-item {
  border-bottom: solid 1px #E5E5E5;

  /* Временно для сетки */
  min-height: 150px;
}

.catalog-item-wrapper {
  width: 1056px;
  height: 90px;
  margin: 0 auto;
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
}

.catalog-item .photo {
  width: 135px;
  min-height: 90px;
}

.catalog-item .info {
  width: 725px;
  min-height: 90px;
}

.catalog-item .rating-block {
  width: 135px;
  min-height: 90px;
}


